.photo-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    margin: 0;
    width: auto;
}

.photo-detail a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
    padding-right: 0.5rem;

}

#photo-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    width: 500px;
    height: 100px;
    padding: 0;
    line-break: normal;
    margin-bottom: 1rem;
}
#photo-info p, #photo-info h3{
    text-align: left;
    margin: 0;
}

.photo-post {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid grey;

}
#photo-display{
    margin: 0;
}
.photo-post img {
    max-width: 900px;
    max-height:400px;
    margin: 0;
    padding: 0;
}

.photo-comments {
    border: 5px solid silver;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2rem;
}

.comment {
    border-radius: 8px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment p{
    margin: 0;
    color:rgb(137, 137, 137);
    font-size: 15px;
}

#comment-user{
    font-weight: 700;
    color:rgb(0, 109, 172);
}

.tads-display-nav {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

#edit-delete {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
}

#add-comment-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#comments-div-title {
    margin-top: 12px;
    margin-bottom: 3px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.2em;
}
#choose-tag button{
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    font-weight: 800;
    color:rgb(18, 143, 220);
    border-radius: 3px;
    border-color: rgb(18, 143, 220);
}
#photo-tag select{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    font-weight: 800;
    color:rgb(18, 143, 220);
    border-radius: 3px;
    border-color: rgb(18, 143, 220);
}
#choose-tag input{
    border-radius: 5px;
    line-height: 20px;
    text-indent: 10px;
    border-color: rgb(137, 137, 137);
    margin: 0;
    height: 35px;
    border-width: 1px;
    padding: 0;
}

#photo-tag{
    margin: 1rem;
}
.tag-connect,#tag-remove{
    display: flex;
    flex-direction: row;
}
#tag-remove{
    font-weight: 700;
}
#tag-remove i{
    color:red;
}
#tag-input{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
#add-comment-div textarea{
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    height: 100px;
    width: 500px;
    line-break: normal;
}
#under-photo{
    background-color: #DBE2EF;
    margin: 0;
    padding: 1rem;
    color:black;
}
