.choosePhoto {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  overflow-y: hidden;
}

/* .btn-choose-photo{
  margin: 3px;
} */

.btn-choose-photo:hover {
  box-shadow: white 0px 2px;
  animation: none;
}

.btn-choose-photo-album {
  background-color: rgb(18, 143, 220);
color: rgb(255, 255, 255);
border-radius: 5px;
min-height: 40px;
font-weight: 700;
padding: 10px 25px;
display: flex;
}

.div-btn-add-photo {
  display: flex;
  align-self: flex-end;

}
.choose-photo{
  background-color: rgb(18, 143, 220);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  min-height: 40px;
  font-weight: 700;
}
