#signup{
    display: flex;
    justify-content: center;
}

.form-login {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px
}

.form-signup{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 500px;
    padding: 20px;
    color:gray;
    border-radius: 5px;

}

.form-signup input{
    border-radius: 5px;
    line-height: 20px;
    border-color: rgb(137, 137, 137);
    margin: 0;
    border-width: 1px;
    height: 55px;
    padding: 0;
}

.email-label-login {
    margin-right: 38px;
}

.password-label {
    margin-right: 5px
}

.email-div {
    margin-bottom: 10px;
}

.password-div {
    margin-bottom: 10px;
}

.btn-demo {
    margin-left: 20px;
}

.login-btn {
    margin-left: 30px;
}

.rereet-password-label {
    margin-right: 9px;
}

.password-label-signup {
    margin-right: 70px
}

.email-label-signup {
    margin-right: 78px;
}

.username-label {
    margin-right: 55px;
}

.email-label-signup {
    margin-right: 100px;
}

.signup-btn{
    background-color: rgb(18, 143, 220);
    color:rgb(255, 255, 255);
    border-radius: 5px;
    min-height: 40px;
    font-weight: 700;
    padding: 10px 25px;
}
.signup-btn:hover{
    opacity: 1;
    color: rgba(0,0,0,.5);
}
