#splash-logo {
  /* max-width: 600px;
  height: auto; */
  margin-bottom: 15px;
}
#splash-page{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#splash-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#splash-slogan {
  font-size: 2em;
}

#splash-slogan-two {
  font-size: 2em;
}

#splash-links-div {
  margin-top: 15px;
}

.splash-links {
  text-decoration: none;
    background-color: white;
    width: min-content;
    padding: 0.5rem;
    font-weight: 700;
    color:rgb(0, 0, 0);
    border-radius: 3px;
}
.splash-links:hover{
  opacity: 1;
  color: rgba(0,0,0,.5);
}

#splash-main-div img{
  background-image: url('../../assets/boss-shots.png');
  background-size: 600px 400px;
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
}
