#delete-album-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#album-to-delete {
  font-weight: bold;
  font-size: 1.5em;
}

#delete-album-title {
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.album-delete-btns {
  display: flex;

}

.btn-no {
  margin-left: 10px;

}

 #album-delete{
  display: flex;
  text-decoration: none;
  background-color: red;
  padding: 0.5rem;
  font-weight: 800;
  color: white;
  border-radius: 3px;
}

#album-delete-no{
  background-color: white;
color: red;
border-color: red;
font-weight: 800;
padding: .5rem;
}

#album-delete-yes{
  background-color: white;
color: green;
border-color: green;
font-weight: 800;
padding: .5rem;
}
