#delete-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#delete-comment-title {
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

#dlt-comment-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#submit-btn-div{
  margin-right: 5px;
}
#cancel-dlt-comment{
  margin-left: 5px;
}
.delete-comment-btn{
  display: flex;
text-decoration: none;
background-color: red;
padding: 0.5rem;
font-weight: 800;
color: white;
border-radius: 3px;
}

button.yes-delete-comment{
  background-color: white;
color: green;
border-color: green;
font-weight: 800;
padding: .5rem;
}
button.no-delete-comment{
  background-color: white;
color: red;
border-color: red;
font-weight: 800;
padding: .5rem;
}
