#edit-photo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#modal-content{
  border-radius: 5px;
  padding: 1rem;
}
#edit-photo-title {
  margin: 10px;
  font-weight: bold;
  font-size: 1.3em;
}

#title-input{
  border-radius: 5px;
    line-height: 20px;
    text-indent: 10px;
    border-color: rgb(137, 137, 137);
    margin-bottom: 10px;
    border-width: 1px;
    padding: 0;
}

#description-input{
  border-radius: 5px;
    line-height: 20px;
    text-indent: 10px;
    border-color: rgb(137, 137, 137);
    margin-bottom: 10px;
    border-width: 1px;
    padding: 0;
}

#submit-button {
  margin-bottom: 8px;
}

button.edit-btn{
    display: flex;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    font-weight: 800;
    color:rgb(18, 143, 220);
    border-radius: 3px;
    border-color: rgb(18, 143, 220);
}
button.delete-btn{
  display: flex;
  text-decoration: none;
  background-color: red;
  padding: 0.5rem;
  font-weight: 800;
  color:white;
  border-radius: 3px;
}
button.edit-btn:hover{
  opacity: 1;
    color: rgba(0,0,0,.5);
}
#delete-photo-btn-div button#submit-button{
  background-color: white;
  color:green;
  border-color: green;
  font-weight: 800;
  padding: .5rem;
}
#delete-photo-btn-div button#delete-button{
  background-color: white;
  color:red;
  border-color: red;
  font-weight: 800;
  padding: .5rem;
}
